In [1]:
import pandas as pd

In [3]:
# 첫 번째 CSV 파일 로드
file_path1 = 'Total_Road_Address_Eng.csv'
df1 = pd.read_csv(file_path1, sep='|', encoding='cp949')

# 두 번째 CSV 파일 로드
file_path2 = 'Total_Road_Address_Hangul.csv'
df2 = pd.read_csv(file_path2, sep='|', encoding='cp949')

In [10]:
df1.columns = ['Road_Address']

In [12]:
print(df2)

       Road_Address
0            10용사1길
1            10용사2길
2            10용사3길
3             10용사로
4             1100로
...             ...
155303     흰바위로27번길
155304     흰바위로59번길
155305     흰바위로92번길
155306         흰여울길
155307         히어실길

[155308 rows x 1 columns]

In [11]:
print(df1)

                 Road_Address
0              10yongsa 2-gil
1              10yongsa 3-gil
2                 10yongsa-ro
3                     1100-ro
4          1100-ro 49beon-gil
...                       ...
155234  Yuwonji-ro 94beon-gil
155235              Yuyeon-ro
155236              Yuyong-ro
155237            Yuyunue-gil
155238            Yuyuodi-gil

[155239 rows x 1 columns]

In [15]:
# 두 데이터프레임을 합치기
combined_df = pd.concat([df1, df2], ignore_index=True)

In [16]:
print(combined_df)

              Road_Address
0           10yongsa 2-gil
1           10yongsa 3-gil
2              10yongsa-ro
3                  1100-ro
4       1100-ro 49beon-gil
...                    ...
310542            흰바위로27번길
310543            흰바위로59번길
310544            흰바위로92번길
310545                흰여울길
310546                히어실길

[310547 rows x 1 columns]

In [17]:
# 결과 데이터프레임을 CSV 파일로 저장
combined_df.to_csv('Total_Road_Address.csv', index=False, encoding='utf-8')